# DATA CLEANING

In [1]:
import pandas as pd

In [2]:
df = pd.concat([
    pd.read_csv(r"C:\Users\VINOTH\Downloads\archive (4)\covid_vaccine_statewise.csv", encoding='latin1'),
    pd.read_csv(r"C:\Users\VINOTH\Downloads\archive (4)\covid_19_india.csv", encoding='latin1'),
    pd.read_csv(r"C:\Users\VINOTH\Downloads\archive (4)\StatewiseTestingDetails.csv", encoding='latin1')
])
df

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,TotalSamples,Negative,Positive
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16331,NaN,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15999961.0,NaN,NaN
16332,NaN,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16045662.0,NaN,NaN
16333,NaN,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16092192.0,NaN,NaN
16334,NaN,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16122345.0,NaN,NaN
16335,NaN,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16162814.0,NaN,NaN

In [3]:
df .columns

Index(['Updated On', 'State', 'Total Doses Administered', 'Sessions',
       ' Sites ', 'First Dose Administered', 'Second Dose Administered',
       'Male (Doses Administered)', 'Female (Doses Administered)',
       'Transgender (Doses Administered)', ' Covaxin (Doses Administered)',
       'CoviShield (Doses Administered)', 'Sputnik V (Doses Administered)',
       'AEFI', '18-44 Years (Doses Administered)',
       '45-60 Years (Doses Administered)', '60+ Years (Doses Administered)',
       '18-44 Years(Individuals Vaccinated)',
       '45-60 Years(Individuals Vaccinated)',
       '60+ Years(Individuals Vaccinated)', 'Male(Individuals Vaccinated)',
       'Female(Individuals Vaccinated)', 'Transgender(Individuals Vaccinated)',
       'Total Individuals Vaccinated', 'Sno', 'Date', 'Time',
       'State/UnionTerritory', 'ConfirmedIndianNational',
       'ConfirmedForeignNational', 'Cured', 'Deaths', 'Confirmed',
       'TotalSamples', 'Negative', 'Positive'],
      dtype='object')

In [4]:
df.size

1522476

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42291 entries, 0 to 16335
Data columns (total 36 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Updated On                           7845 non-null   object
 1   State                                24181 non-null  object
 2   Total Doses Administered             7621 non-null   float64
 3   Sessions                             7621 non-null   float64
 4    Sites                               7621 non-null   float64
 5   First Dose Administered              7621 non-null   float64
 6   Second Dose Administered             7621 non-null   float64
 7   Male (Doses Administered)            7461 non-null   float64
 8   Female (Doses Administered)          7461 non-null   float64
 9   Transgender (Doses Administered)     7461 non-null   float64
 10   Covaxin (Doses Administered)        7621 non-null   float64
 11  CoviShield (Doses Administered)      7621 non-null   float64
 12  Sputnik V (Doses Administered)       2995 non-null   float64
 13  AEFI                                 5438 non-null   float64
 14  18-44 Years (Doses Administered)     1702 non-null   float64
 15  45-60 Years (Doses Administered)     1702 non-null   float64
 16  60+ Years (Doses Administered)       1702 non-null   float64
 17  18-44 Years(Individuals Vaccinated)  3733 non-null   float64
 18  45-60 Years(Individuals Vaccinated)  3734 non-null   float64
 19  60+ Years(Individuals Vaccinated)    3734 non-null   float64
 20  Male(Individuals Vaccinated)         160 non-null    float64
 21  Female(Individuals Vaccinated)       160 non-null    float64
 22  Transgender(Individuals Vaccinated)  160 non-null    float64
 23  Total Individuals Vaccinated         5919 non-null   float64
 24  Sno                                  18110 non-null  float64
 25  Date                                 34446 non-null  object
 26  Time                                 18110 non-null  object
 27  State/UnionTerritory                 18110 non-null  object
 28  ConfirmedIndianNational              18110 non-null  object
 29  ConfirmedForeignNational             18110 non-null  object
 30  Cured                                18110 non-null  float64
 31  Deaths                               18110 non-null  float64
 32  Confirmed                            18110 non-null  float64
 33  TotalSamples                         16336 non-null  float64
 34  Negative                             6969 non-null   object
 35  Positive                             5662 non-null   float64
dtypes: float64(28), object(8)
memory usage: 11.9+ MB

In [6]:
df.isnull().sum()

Updated On                             34446
State                                  18110
Total Doses Administered               34670
Sessions                               34670
 Sites                                 34670
First Dose Administered                34670
Second Dose Administered               34670
Male (Doses Administered)              34830
Female (Doses Administered)            34830
Transgender (Doses Administered)       34830
 Covaxin (Doses Administered)          34670
CoviShield (Doses Administered)        34670
Sputnik V (Doses Administered)         39296
AEFI                                   36853
18-44 Years (Doses Administered)       40589
45-60 Years (Doses Administered)       40589
60+ Years (Doses Administered)         40589
18-44 Years(Individuals Vaccinated)    38558
45-60 Years(Individuals Vaccinated)    38557
60+ Years(Individuals Vaccinated)      38557
Male(Individuals Vaccinated)           42131
Female(Individuals Vaccinated)         42131
Transgender(Individuals Vaccinated)    42131
Total Individuals Vaccinated           36372
Sno                                    24181
Date                                    7845
Time                                   24181
State/UnionTerritory                   24181
ConfirmedIndianNational                24181
ConfirmedForeignNational               24181
Cured                                  24181
Deaths                                 24181
Confirmed                              24181
TotalSamples                           25955
Negative                               35322
Positive                               36629
dtype: int64

In [7]:
df.fillna(0,inplace=True)

In [8]:
df.isnull().sum()

Updated On                             0
State                                  0
Total Doses Administered               0
Sessions                               0
 Sites                                 0
First Dose Administered                0
Second Dose Administered               0
Male (Doses Administered)              0
Female (Doses Administered)            0
Transgender (Doses Administered)       0
 Covaxin (Doses Administered)          0
CoviShield (Doses Administered)        0
Sputnik V (Doses Administered)         0
AEFI                                   0
18-44 Years (Doses Administered)       0
45-60 Years (Doses Administered)       0
60+ Years (Doses Administered)         0
18-44 Years(Individuals Vaccinated)    0
45-60 Years(Individuals Vaccinated)    0
60+ Years(Individuals Vaccinated)      0
Male(Individuals Vaccinated)           0
Female(Individuals Vaccinated)         0
Transgender(Individuals Vaccinated)    0
Total Individuals Vaccinated           0
Sno                                    0
Date                                   0
Time                                   0
State/UnionTerritory                   0
ConfirmedIndianNational                0
ConfirmedForeignNational               0
Cured                                  0
Deaths                                 0
Confirmed                              0
TotalSamples                           0
Negative                               0
Positive                               0
dtype: int64